extends layout

block content
  div.secondBody
      div.MainText
          h5.invited.invitedTop You are invited to celebrate
          h5.invited.invitedBottom the wedding of
          h1.names Aimee Falla
          h2 &
          h1.names George Dovell
          div.info
            h5.top 14th December 2024 at 12pm
            h5.bottom Upton Barn, Devon

      div.canYouCome
        h3 Can you join us?
        div.indexButtons
          div#yes.fakeButtons(type=button) I'll be there
          a#no.fakeButtons(href='/icantcome') I can't make it
        form.invisibleM(method="POST")
          label.howMany(for='number') How many in your party?
          input#number(type='number', name='number', min=1, required)
          button(type='submit') Submit
      
      script(type='text/javascript', src='/javascripts/home.js')
