extends layout

block content
  div.formPage
    h1 Who's not coming?

    form.noForm(METHOD="POST")
      label(for='name') List of names:
      input(type='text', name='name', required)
      label(for='name') Message for the bride and groom
      textarea(rows="5", cols="30", name='message')
      button(type='submit') Submit