extends layout

block content
  div.sorryHolder
    h1 Thanks for getting back to us
    h3 We're sorry you won't be there to celebrate with us.
    h3 But we look forward to celebrating with you at a later date.
    br
    h3 Love, 
    h3 Aimee and George