extends layout

block content
  div.replyHolder
    h1 Thanks for getting back to us
    h3 We're so excited to celebrate with you!
    h3 See you at 12pm at Upton Barn on 14th December 2024.
    br
    h3 Love, 
    h3 Aimee and George