@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@font-face
{
  font-family: 'curly';
  src: url('./fonts/GreatVibes-Regular.ttf');
}

*{
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

body
{
  margin: 0;
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*background-image: url('../images/background.avif');*/
  background-repeat: no-repeat;
  background-position: 0;
  background-size: cover;
  background-color: #fafafa;
  background-color: rgb(46 60 41);
  /*padding-bottom: 100px;*/
  color: white;
}

.secondBody{
  border: solid 5px white;
  align-self:center;
  margin: 10px;
}

.MainText
{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 0px;
  margin-top: 30px;
}

.MainText>*
{
  margin: 0;
}

.invited{
  font-family: Noto serif display;
}

.invitedTop{
  padding-top: 20px;
  border-top: solid white 2px;
}

.invitedBottom{
  margin-bottom: 15px;
}

.invisble{
  display: none;
  visibility: hidden;
}

.names{
  font-size: 5rem;
  text-align: center;
  font-family: curly;
  line-height: 1;
  padding: 0px 20px
}
.canYouCome{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.canYouCome form{
  margin-bottom: 20px;
}

.canYouCome h3{
  border-top: solid 2px white;
  padding:20px;
}

.indexButtons{
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
}

.fakeButtons{
  padding: 17px 0px;
  border: solid 1px white;
  border-radius: 0.5rem;
  color: white;
  width: 140px;
  text-align: center;
  color: rgb(46 60 41);
  background-color: white;
  font-size: 1.1rem;
}

.fakeButtons:hover{
  background-color: rgb(164, 215, 149);
}

#yes:hover{
  cursor: pointer;
}

#no:hover{
  color: inherit;
  text-decoration: none;
}

.howMany{
      font-size: 1.5rem;
}

.yes{
  display: flex;
  flex-direction: column;
}

form
{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.noForm button{
  margin-top: 10px;
}

select
{
  border: solid 0.9px black;
  border-radius: 0.5rem;
  padding: 6.5px;
}

#number{
  margin-bottom: 5px;
}

input
{
  border-radius: .5rem;
  border: solid 1px grey;
  padding: 4px;
  padding-left: 6px;
}

.info
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.info>*
{
  margin: 5px 0px;
}

.box{
  border: solid 1px white
}

.choice
{
  display: flex;
  place-items: center;
  padding: 20px 20px;
  border-radius: .5rem;
  margin: 5px;
  background-color: rgba(199, 213, 201, 0.804);
  border: 1px solid rgba(199, 213, 201, 0.804);
  width: 100%;
  justify-content: center;
}

.content
{
  display: flex;
  flex-direction: column;
}

button
{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgba(199, 213, 201, 0.804);
  cursor: pointer;
  transition: border-color 0.25s;
}

select:focus-visible,
input:focus-visible,
textarea:focus-visible,
button:focus-visible
{
  outline: #877c41 auto 1px;
}

.choice:hover,
button:hover
{
  user-select: none;
  opacity: .8;
}

.top
{
  margin-bottom: 0px;
}

.bottom
{
  margin-top: 0px;
}

.formPage{
      padding: 50px 15px;
        border: solid 5px white;
        margin: 20px 0px;
        width: 90%;
        align-self: center;
}

.formPage label{
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0px;
  margin-top: 5px;
}

.details{
display: flex;
  flex-direction: column;
  border-bottom: 2px dotted white;
  padding-bottom: 25px;
}

.all{
  width: 80%;
  align-self: center;
}
.all ul{
  padding: 0px;
}


/* MEDIA QUERIES */

@media screen and (max-width: 480px)
{
  
}

@media screen and (min-width: 481px) and (max-width: 850px)
{
  .secondBody{
    padding: 40px 80px;
  }
  .invitedTop{
    width: 80%;
    text-align: center;
  }
  .canYouCome h3{
    width: 80%;
    text-align: center;
  }
}

@media screen and (min-width: 851px)
{
  .MainText{
    margin-top: 50px;
  }
  .secondBody{
        padding: 0px 80px;
  }
  .formPage{
    width: 50%;
  }
}

/*

For Mobile Devices – 320px — 480px. 
iPads and Tablets – 481px — 768px. 
Laptops and small screen – 769px — 1024px.

*/